version: 1
disable_existing_loggers: False

formatters:
  standard:
    format: "[%(asctime)s] [%(name)s] [%(levelname)s] %(message)s"
    datefmt: "%Y-%m-%d %H:%M:%S"

handlers:
  console:
    class: logging.StreamHandler
    formatter: standard
    level: INFO
    stream: ext://sys.stdout

  file:
    class: logging.handlers.RotatingFileHandler
    formatter: standard
    level: DEBUG
    filename: app_activity.log
    maxBytes: 1048576
    backupCount: 5
    encoding: utf-8

root:
  level: DEBUG
  handlers: [console, file]
